/* Global variables for changing colours across the site */
:root {
            --primary: #cd064d;
            --text: #333;
            --subtle: rgba(205, 6, 77, 0.3);
            --grey: #ccc;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Atkinson Hyperlegible', sans-serif;
            font-size: 1.2em;
            background-color: #fafafa;
            color: #333;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 20px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Bungee', display;
            letter-spacing: 3px;
            font-weight: 700;
            color: var(--primary);
        }

        h1 {
            text-decoration: underline;
            text-underline-offset: 0.2em;
            font-size: 7vw;
            margin-bottom: 0em;
        }

        @media screen and (min-width: 1000px) {
            h1 {
                font-size: 3em;
            }
        }

        @media (max-width: 480px) {
            body {
                font-size: 1em;
            }
        }

        h2 span {
            color: var(--grey);
        }

        h2:nth-of-type(4n+1) {
            color: #008080;
        }
        h2:nth-of-type(4n+2) {
            color: #3498db;
        }
        h2:nth-of-type(4n+3) {
            color: #9b59b6;
        }
        h2:nth-of-type(4n+4) {
            color: #e67e22;
        }

        header {
            text-align: center;
            margin-bottom: 30px;
        }

        header p {
            margin-top: 10px;
            font-weight: bold;
        }

        a {
            color: var(--primary);
            text-decoration-line: underline;
            text-decoration-style: wavy;
            text-decoration-color: var(--primary);
            text-underline-offset: 0.2em;
        }

        a:hover {
            color: var(--text);
            text-decoration-color: var(--text);
        }

        blockquote {
            border-left: 3px solid var(--grey);
            margin: 0 0 15px;
            padding: 0 0 0 20px;
            font-style: italic;
        }

        section {
            border-bottom: 2px solid var(--subtle);
        }

        li {
            margin-bottom: 5px;
        }

        main {
            border: 2px solid var(--subtle);
            padding: 0 10px;
            color: black;
        }

        main h1 {
            font-size: 1em;
            text-decoration: none;
            margin-bottom: -10px;
        }

        footer {
            padding: 20px 0;
            text-align: center;
        }

        hr {
            border-color: var(--grey);
            margin-top: 30px;
            width: 90%;
        }

        .or {
            color: var(--grey);
        }




/* Format Nav Bar */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.nav {
  float: left;
}
li.nav a {
  display: block;
  color: var(--grey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav li.nav a:hover:not(.active){
  background-color: var(--primary);
}
.active {
    background-color: var(--primary);
}
